// Body
@font-face {
  font-family: "iran Yekan";
  src: url("../fonts/Qs_Iranyekan.ttf") format("truetype");
}
* {
  font-family: "iran Yekan";
}

// dashboard Page

.dashboard-page {
  display: grid;
  grid-template-columns: 17% 83%;
  width: 100vw;
  height: 100vh;
  .content {
    justify-self: center;
    .header {
    }
  }
}

// archive page

.archive-page {
  display: grid;
  grid-template-columns: 17% 83%;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  .content {
    margin-right: 3rem;
    .header {
      font-size: 24px;
      font-weight: 400;
      color: #00ba9f;
      margin-top: 3rem;
    }
    .archive {
      width: 95%;
      margin-top: 3rem;
      .header-table {
        display: grid;
        grid-template-columns: 5% 35% 17% 13% 12% 15%;
      }
      .content-table {
        margin-top: 1rem;
        height: 45px;
        display: grid;
        grid-template-columns: 5% 35% 17% 13% 12% 3% 3% 3% 4%;
        cursor: pointer;
      }
      .content-table-up {
        width: 77vw;
        margin-top: 1rem;
        height: 450px;
        display: grid;
        grid-template-columns: 5% 35% 17% 12% 12% 3% 3% 3% 4%;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #00ba9f;
        padding-top: 1.5rem;
        padding-right: 0.5rem !important;
        .svg-btn {
          color: #00b3a1;
        }
        .show-archive-content {
          cursor: default;
          width: 65vw;
          height: 310px;
          margin-right: 2.5rem;
          .archive-text {
            width: 95%;
            height: 200px;
            margin-bottom: 2rem;
            position: relative;
            bottom: 3.5rem;
            overflow-y: scroll;
            .table {
              .table-row {
                display: flex;
                width: 95%;
                border-radius: 25px;
                margin-bottom: 0.2rem;
                p {
                  margin-left: 1rem;
                  margin-right: 1.5rem;
                  margin-top: 0.8rem;
                }
              }
              .table-row:nth-child(odd) {
                background-color: #dddddd;
              }
            }
            &::-webkit-scrollbar {
              width: 10px;
            }
            &::-webkit-scrollbar-track {
              background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #dadada;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: #555;
            }
          }
        }
      }
    }
    .pagination {
      width: 100%;
      height: 2.5rem;
      margin-top: 3rem;
      justify-content: center;
      .pagination-btn {
        background-color: #00ba9e00;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        // margin-left: 1rem;
      }
      p {
        font-size: 14px;
        // margin-left: 1rem;
        cursor: pointer;
        margin-top: 0.2rem;
      }
    }
  }
}

// side menu

.side-menu {
  background-image: linear-gradient(#00b5a0, #00c69b);
  border-radius: 10px 0px 0px 10px;
  .header {
    position: absolute;
    bottom: 53rem;
    margin-right: 40%;
  }
  .menu-buttons {
    width: 150px;
    position: absolute;
    bottom: 35rem;
    margin-right: 10%;
    .menu-btn {
      width: 95%;
      height: 48px;
      display: block;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      background-color: #00c69b00;
      border: none;
      text-decoration: none;
      padding: 10px;
      margin-top: 1rem;
    }
    .active {
      background-color: #02816e;
      border-radius: 10px;
    }
  }
}

// uploading

.uploading {
  margin-top: 7%;
  .content {
    .uploading-buttons {
      .uploading-btn {
        width: 144px;
        height: 48px;
        border-radius: 10px 10px 0px 0px;
        border: none;
        background-color: #ffffff00;
        color: #969696;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .uploading-box {
      width: 653px;
      height: 429px;
      border-radius: 25px;
      border: 1px solid #00ba9f;
      box-shadow: 1px 1px 50px 0px #6363630d;
      .content {
        margin-top: 8rem;
        margin-right: 8rem;
        .mic-button {
          width: 62px;
          height: 62px;
          border-radius: 50%;
          background-color: #00b3a1;
          border: none;
          color: #ffffff;
        }
        .load-button {
          width: 62px;
          height: 62px;
          border-radius: 50%;
          background-color: #118ad3;
          border: none;
          color: #ffffff;
        }
        .link {
          width: 328px;
          height: 46px;
          border: 0.5px solid #ff1654;
          border-radius: 50px;
          color: #626262;
          font-weight: 300;
          padding: 0.5rem;
          input {
            border: none;
            width: 200px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
  .dropdown-group {
    width: 200px;
    height: 37px;
    display: grid;
    grid-template-columns: 80px 105px;
    margin-top: 1.5rem;
    margin-right: 28rem;
    .dropdown-down-close {
      width: 121px;
      height: 37px;
      border: 1px solid #00ba9f;
      background-color: #ffffff00;
      color: #00ba9f;
      border-radius: 30px;
    }
    .dropdown-down-open {
      width: 121px;
      height: 90px;
      border: 1px solid #00ba9f;
      background-color: #ffffff00;
      color: #00ba9f;
      border-radius: 30px;
      padding: 0.5rem;
      padding-right: 1rem;
      button {
        background-color: #ffffff00;
        border: none;
        color: #00ba9f;
      }
    }
  }
  .show-media {
    margin: 2rem;
    .buttons {
      display: flex;
    }
  }
}

//show

.show-table {
  .table {
    .table-row {
      display: flex;
      width: 95%;
      border-radius: 25px;
      margin-bottom: 0.2rem;
      p {
        margin-left: 1rem;
        margin-right: 1.5rem;
        margin-top: 0.8rem;
      }
    }
    .table-row:nth-child(odd) {
      background-color: #dddddd;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.show-content {
  p {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

//dropdown

.dropdown-up-close {
  display: flex;
  width: 121px;
  height: 37px;
  position: relative;
  top: 2rem;
  margin-right: 100%;
  border-radius: 20px;
  border: 1.5px solid #00ba9f;
  color: #00ba9f;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-up-open {
  width: 121px;
  height: 81px;
  position: relative;
  top: 2rem;
  margin-right: 100%;
  border-radius: 20px;
  border: 1.5px solid #00ba9f;
  color: #00ba9f;
  padding: 0.5rem;
  cursor: pointer;
  .up {
    display: flex;
    margin-top: 0.2rem;
  }
  .down {
    display: flex;
    position: relative;
    bottom: 1.5rem;
  }
}

audio::-webkit-media-controls-panel {
  background-color: #f8f8f8;
}
.player {
  display: flex;
}

// media query

@media (max-width: 1079px) {
  // side menu
  .side-menu {
    .menu-buttons {
      width: 125px;
      margin-right: 2%;
      .menu-btn {
        font-size: 0.7rem;
        padding: none;
      }
    }
  }

  //dropdown
  .dropdown-up-close {
    margin-right: 75%;
  }
  .dropdown-up-open {
    margin-right: 75%;
  }

  .dropdown-group {
    margin-right: 24rem !important;
  }

  //uploading
  .uploading .content .uploading-box {
    width: 590px;
    margin-right: 2%;
  }
  .uploading-btn {
    margin-right: 2%;
  }

  //show
  .show-media {
    .refresh-btn {
      font-size: 0.6rem !important;
    }
    .show-media-step-btn {
      font-size: 8px !important;
    }
  }

  //archive
  .archive-page {
    .content {
      .archive {
        width: 100%;
        .header-table {
          font-size: 11px !important;
          grid-template-columns: 5% 40% 17% 10% 10% 15%;
        }
        .content-table {
          font-size: 9px !important;
          grid-template-columns: 5% 40% 17% 10% 10% 3% 3% 3% 4%;
        }
        .content-table-up {
          font-size: 9px !important;
          grid-template-columns: 5% 40% 17% 10% 10% 3% 3% 3% 4%;
        }
      }
    }
  }

  //archive - audio player
  .archive {
    .audio-player {
      right: 100% !important;
      .player {
        width: 530px !important;
      }
    }
  }
}

@media (max-width: 770px) {
  .archive {
    .audio-player {
      right: 115% !important;
      .player {
        width: 520px !important;
      }
    }
  }
}
